@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

input:focus { outline: none; }

/* APP */

.container {
	width: 1280px;
	height: 720px;
}

.left {
	float: left;
	width: 264px;
	height: 720px;
}

.right {
	float: right;
	width: 1016px;
	height: 720px;
	background: #ededee;
}

.left-header {
	width: 264px;
	height: 188px;
	text-align: center;
}

.image {
	width: 90px;
	height: 188px;
	float: left;
}

#user-image {
	width: 56px;
	height: 58px;
	float: right;
	margin-top: 58px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.user-info {
	width: 174px;
	height: 188px;
	float: right;
	text-align: left;
}

.user-info p {
	margin-left: 10px;
}

.user-info p:first-child {
	margin-top: 83px;
	font-family: Roboto-Regular;
	color: #13141b;
	font-size: 12.5px;
	letter-spacing: .9px;
	font-weight: bold;
}

.user-info p:last-child {
	font-family: Roboto-Regular;
	color: #aaaaaa;
	font-size: 11.1px;
	letter-spacing: .9px;
	margin-top: 5px;
}

.steps {
	width: 264px;
	height: 22px;
}

.steps h3 {
	float: left;
	margin-left: 20px;
	font-family: Roboto-Black;
	font-size: 10px;
	color: #1e1f29;
	letter-spacing: 1.4px;
}

.side-navigation {
	width: 264px;
	height: 250px;
	margin-top: 10px;
}

.side-navigation li {
	width: 264px;
	height: 60px;
	cursor: pointer;
}

/* NAVIGATION */

.number {
	transition: .4s;
	width: 75px;
	height: 60px;
	float: left;
	font-family: Roboto-Light;
	color: #c0c0c0;
	text-align: right;
	font-weight: 100;
	font-size: 24px;
}

.number img {
	width: 25px;
	height: 25px;
	margin-top: 18px;
	margin-right: 20px;
	float: right;
}

.non-active img {
	opacity: .6;
}

.name {
	transition: .4s;
	width: 189px;
	height: 60px;
	float: right;
	line-height: 63px;
}

.active {
	border-right: 2px solid #3c9cdc;
	width: 187px;
	letter-spacing: 1.5px;
}

.active h3 {
	color: #373737;
	font-family: Roboto-Bold;
	font-size: 10px;
}

.non-active h3 {
	font-family: Roboto-Light;
	font-size: 9px;
	letter-spacing: 1.1px;
	color: #a4a4a4;
}

.active-li {
	background: #ededee;
}

.li-hover:hover .number img {
	transition: .4s;
	margin-right: 0px;
	margin-right: 15px;
	opacity: .8;
}

.li-hover:hover .name h3 {
	transition: .4s;
	margin-left: 5px;
	color: #595757;
}

.header {
	width: 1016px;
	height: 210px;
}

.titles {
	width: 750px;
	height: 210px;
	float: left;
}

.steps-div {
	float: right;
	width: 266px;
	height: 210px;
	text-align: right;
}

.titles p:first-child {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #6f6f6f;
	letter-spacing: 2.2px;
	margin-top: 80px;
	margin-left: 65px;
	opacity: .7;
}

.titles p:last-child {
	margin-left: 65px;
	margin-top: 10px;
	color: #7b7a7a;
	font-size: 47px;
	font-family: Roboto-Light;
}

.form-holder {
	width: 877px;
	height: 482px;
	background: #ffffff;
	margin-left: 65px;
	margin-top: 30px;
	border: 1px solid #d9d9d9;
	-webkit-box-shadow: 0px 0px 59px -9px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 59px -9px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 59px -9px rgba(0,0,0,0.1);
}

.form-title {
	width: 877px;
	height: 62px;
	-webkit-box-shadow: 0px 3px 59px -9px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 59px -9px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 59px -9px rgba(0,0,0,0.16);
	border-bottom: 2px solid #ededee;
}

.form-title p {
	line-height: 64px;
	font-family: Roboto-Bold;
	color: #959595;
	font-size: 10px;
	letter-spacing: 1.7px;
	margin-left: 24px;
}

.form-content {
	width: 877px
	height: 420px;
	margin: 0 auto;
	text-align: left;
}

.form-content p {
	margin-left: 24px;
	margin-top: 30px;
	color: #b1b1b1;
	font-family: Roboto-Light;
	font-size: 12px;
	letter-spacing: 1.3px;
}

.form-content span {
	font-family: Roboto-Bold;
	color: #3c9cdc;
    opacity: .9;
}

a {
	color: #3c9cdc;
}

#err-box {
	position: absolute;
	top: -60px;
	left: 264px;
	width: 1016px;
	background: #ffffff;
	height: 50px;
	-webkit-box-shadow: 0px 3px 59px -9px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 59px -9px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 59px -9px rgba(0,0,0,0.16);
}

#err-box img {
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 0px;
	margin-top: 15px;
	margin-right: 20px;
	opacity: .7;
	cursor: pointer;
	transition: transform .5s ease-in-out;
}

#err-box img:hover {
	transform: rotate(360deg);
}

#err-box p {
	float: left;
	font-family: Roboto-Regular;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 50px;
	margin-left: 20px;
}

#error-text span {
	color: #e74c3c;
	font-family: Roboto-Bold;
}


.next-button {
	transition: .2s;
	width: 162px;
	height: 47px;
	border-radius: 5px;
	border: none;
	margin-top: 100px;
	cursor: pointer;
	float: right;
	margin-right: 70px;
}

.button-text {
	float: left;
	width: 114px;
	height: 47px;
	background: #3498db;
}

.button-text p {
	font-family: Roboto-Bold;
	font-size: 10px;
	letter-spacing: 1.8px;
	float: left;
	margin-left: 20px;
	line-height: 47px;
	color: #ffffff;
	font-weight: 100;
	margin-top: 0px;
}

.button-img {
	float: right;
	width: 48px;
	height: 47px;
	background: #2483c3;
	text-align: center;
}

.button-img img {
	width: 15px;
	height: 15px;
	margin-top: 16px;	
	fill: #ffffff;
}

.next-button:hover {
	transition: .2s;
	border-bottom: 3px solid #2483c3;
	opacity: .8;
}